.program{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.carousel-item img{
    height:50vh!important;
    width: auto;
}
.pza{
    ch
}